@charset "UTF-8";

body {

    width: 50%;
    height: 80vh;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: linear-gradient(to right, rgba(168, 77, 77, 0.408), white); */
    background: url(../form/street-fighter-v-001.jpg) repeat;
    background-size: cover;
}

div#container {

    background-image: linear-gradient(to right, white, rgba(142, 212, 238, 0.461));    
    padding: 10px 10px 30px 10px ;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    
  
}


        h1 {

            text-align: center;
        }

        p {

            text-align: center;
            margin-bottom: 50px;
            justify-content: center;
        }


/* ======================================= Nome e Sobrenome ==================================== */

        div#nome .text {

            width: 40%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
           clear: both;
            
        }

        div#nome {

            padding-bottom: 20px;  
            float: left;
        }

        .text:hover {

            background-color: rgb(220, 191, 247);
        }

        div#sobrenome .text {

            width: 40%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
        }

        div#sobrenome {

            padding-bottom: 20px;
            
        }
   /* =========================================== Fim ========================================*/ 

         div#email .text {

            width: 94%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
            
        }

        div#email {

            padding-bottom: 30px;  
            clear: both;
        
        }

        div#radio .avaliacao {

            width: 94%;
            padding: 10px;
            border: transparent;
            border-radius: 5px;
            background-color: rgb(224, 246, 250);
            display: inline-block;
        
        }

        div#radio .avaliacao{

            margin-bottom: 7px;
        }

        div#radio {

            margin-bottom: 20px;
            
        }

        div#checkbox {

            width: 90%;
            padding: 10px;
            margin: 5px;
            text-align: justify;
            
        }

    div#comentario .textarea{

       max-width: 100%;
       width: 600px;
    }

    div#comentario .textarea:hover {

        background-color: rgb(220, 191, 247);

    }
/* =================================== BOTÕES ENVIAR E LIMPAR -======================*/

    div#botoes {

        box-sizing: border-box;
        
    }

    div#botoes .enviar, .limpar {

        width: 10em;
        border-radius: 3px;
    }

    div#botoes .enviar:hover, .limpar:hover{

    background-color: rgb(220, 191, 247);      
}