@charset "UTF-8";

body {

    width: 380px;
    background: none;
    background-image: linear-gradient(to left, rgb(220, 191, 247), rgba(142, 212, 238, 0.461));
}

div#nome {

    margin-right: 100px;
    width: 242px;
}

div#sobrenome {

    margin-right: 100px;
    width: 242px;
}

div#email {

    margin-right: 100px;
    width: 242px;
}

div#select {
    
    margin-right: 114px;
    width: 228px;
    margin-bottom: 20px;
}

div#radio {

    width: 330px;
    margin-right: 22px;
    margin-top: 10px;
}

div#comentario {

    margin-right: 10px;
}

.limpar {

    margin-left: 70px;
}

.enviar {

    margin-left: 7px;
}