@charset "UTF-8";

body {

    width: 300px;
    /* width: 380px; */
    background: none;
    background-image: linear-gradient(to left, rgb(220, 191, 247), rgba(142, 212, 238, 0.461));
}

/* @media screen and (min-width: 768px) and (max-width: 1024px) and(orientation: landscape) {
   
   
} */