@charset "UTF-8";

body {

    width: 60%;
}

div#nome {

    width: 40%;  
    float: left;           
}

div#sobrenome {

    width: 38%;  
    float: right; 
    position: absolute;
    top: 12.8%;
    left: 45%;   
}

div#email {

    width: 40%;
    clear: both;   
}

div#estadosbr {

    width: 58%;
    float: right;
    position: absolute;
    top: 20%;
    left: 45%;
}

div#estadosbr .estado {

    width: 57.6%;
    padding: 9px;
}

@media screen and (min-width: 1440px) {

    body {

        width: 50%;
    }
    
    div#estadosbr {

        width: 58%;
        float: right;
        position: absolute;
        top: 20%;
        left: 45%;
    }

    div#sobrenome {

        width: 39%;  
        float: right; 
        position: absolute;
        top: 12.8%;
        left: 45%;   
    }

    .text:hover, div#estadosbr .estado:hover,  div#botoes .enviar:hover, .limpar:hover, div#comentario .textarea:hover {
        
        background-color: rgba(0, 255, 255, 0.295);
    } 

    body {

        background: url(../street-fighter-v-karin-wallpaper.jpg) repeat top center;
        background-size: cover;
        background-attachment: fixed;
    }
    
}

@media screen and (min-width: 1680px) {

    body {

        width: 50%;
    }

    div#estadosbr {

        width: 56.3%;
        left: 44%;
        top: 18.7%;
    }

    div#sobrenome {

        width: 38%; 
        top: 11.4%; 
        left: 44%;  

    }

@media screen and (min-width: 1920px) {

    body {

        width: 43%;
    }

    div#estadosbr {

        width: 56.3%;
        left: 44%;
        top: 18.7%;
    }

    div#sobrenome {

        width: 38%; 
        top: 11.4%; 
        left: 44%;   
    }
}
