@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
}
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */

body {

    width: 70%;
    height: 80vh;
    margin: auto;
    font-family: sans-serif;
    /* background-image: linear-gradient(to right, rgba(168, 77, 77, 0.408), white); */
    background: url(../street-fighter-v-001.jpg) repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

div#container {

    background-image: linear-gradient(to right, white, rgba(142, 212, 238, 0.461));    
    padding: 10px 10px 30px 10px ;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    max-width: 1080px;
    font-family: sans-serif;
}


        h1 {

            text-align: center;
            font-weight: bolder;
            padding: 10px 0px 15px 0px;
        }

        p {

            text-align: center;
            margin-bottom: 30px;
            justify-content: center;
            font-size: 15px;
        }


/* ================================================ */

       
        div#nome .text {

            width: 90%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;           
        }

        div#sobrenome .text {

            width: 90%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px; 
            
        }

        div#email .text {

            width: 90%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
            
        }

        div#estadosbr .estado {

            width: 30%;
            padding: 5px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
        }

        div#estadosbr {

            text-align: left;
            margin-left: 5px;
        }
        div#nome, div#sobrenome, div#email {

            text-align: center;
        }

        
        .text:hover {

            background-color: rgb(220, 191, 247);
            cursor: pointer;
        }
      
   /* =========================================== Fim ========================================*/ 

   /* ==== div para alinhar no centro do container nome, sobrenome, email, select-estado =============== */

        
        
/* ---=============================== fim ================ */

        div#estadosbr .estado:hover {

            background-color: rgb(220, 191, 247);
        }

        .est-label {

            font-weight: bolder;
            
        }

        div#radio .avaliacao {

            width: 96%;
            padding: 10px;
            border: transparent;
            border-radius: 5px;
            background-color: rgb(224, 246, 250);
            display: inline-block;
        }

        div#radio .avaliacao{

            margin-bottom: 7px;
            margin-left: 5px;
        }

        div#radio {

            margin-bottom: 20px;
            margin: auto;
        }

        div#radio .leg {

            margin-left: 5px;
            font-weight: bolder;
        }

    /* =============================== CheckBox ========================= */

        div#checkbox {

            width: 60%; 
            color: rgb(153, 75, 75);   
            font-weight: bolder;  
              
        }

        div#checkbox .jogos, .need, .god {

            display: block;
            margin-bottom: 10px;
            padding-left: 10px;
        }

        .jogos-legend {

            color: black;
            padding-bottom: 5px;
        }

        .field {

            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.367);
        }
    /* ============================== FIM Checkbox ================================== */

    div#comentario .textarea{

       max-width: 100%;
       width: 610px;
    }

    div#comentario {

        text-align: center;
    }

    .legend {

        
    }

    div#comentario .textarea:hover {

        background-color: rgb(220, 191, 247);
    }

    .legend {

        font-weight: bolder;
    }
/* =================================== BOTÕES ENVIAR E LIMPAR -======================*/

    div#botoes {

        box-sizing: border-box;
        
    }

    div#botoes .enviar, .limpar {

        width: 10em;
        border-radius: 3px;
    }

    div#botoes .enviar:hover, .limpar:hover{

    background-color: rgb(220, 191, 247);  
    text-transform: uppercase;   
}