@charset "UTF-8";

body {

    width: 50%;
    height: 80vh;
    margin: auto;
    font-family: sans-serif;
    /* background-image: linear-gradient(to right, rgba(168, 77, 77, 0.408), white); */
    background: url(../street-fighter-v-001.jpg) repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

div#container {

    background-image: linear-gradient(to right, white, rgba(142, 212, 238, 0.461));    
    padding: 10px 10px 30px 10px ;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    max-width: 1080px;
    font-family: sans-serif;
}


        h1 {

            text-align: center;
            font-weight: bolder;
        }

        p {

            text-align: center;
            margin-bottom: 50px;
            justify-content: center;
            font-size: 15px;
        }


/* ======================================= Nome e Sobrenome ==================================== */

        div#nome .text {

            width: 124%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;           
        }

        div#nome {

            padding-bottom: 20px;  
            float: left;
        }

        .text:hover {

            background-color: rgb(220, 191, 247);
            cursor: pointer;
        }

        div#sobrenome .text {

            width: 124%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
            
        }

        div#sobrenome {

            padding-bottom: 20px;
            float: right;
            margin-right: 20%;
            
        }
   /* =========================================== Fim ========================================*/ 

   /* ==== div para alinhar no centro do container nome, sobrenome, email, select-estado =============== */

        div#principal {

            margin-left: 5%;
        }
/* ---=============================== fim ================ */

         div#email .text {

            width: 124%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
            
        }

        div#email {

            padding-bottom: 30px;  
            float: left;
        
        }

        div#select {

            float: right;
            margin-right: 21%;
            margin-top: 0.010%;
        }

        div#select .estado:hover {

            background-color: rgb(220, 191, 247);
        }

        div#select .estado {

            width: 142%;
            height: 37px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
            text-align: left;
            color: rgb(138, 136, 136);
        }

        .est-label {

            font-weight: bolder;
        }

        div#radio .avaliacao {

            width: 96%;
            padding: 10px;
            border: transparent;
            border-radius: 5px;
            background-color: rgb(224, 246, 250);
            display: inline-block;
        }

        div#radio .avaliacao{

            margin-bottom: 7px;
            margin-left: 5px;
        }

        div#radio {

            margin-bottom: 20px;
            margin: auto;
        }

        div#radio .leg {

            margin-left: 5px;
            font-weight: bolder;
        }

    /* =============================== CheckBox ========================= */

        div#checkbox {

            width: 100%;
            text-align: justify;
            clear: both;
            margin: auto;   
            color: rgb(153, 75, 75);   
            font-weight: bolder; 
        }

        div#checkbox .jogos {

            margin-bottom: 4px;
        }

        .jogos-legend {

            color: black;
            padding-bottom: 5px;
        }

        .field {

            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.367);
        }
    /* ============================== FIM Checkbox ================================== */

    div#comentario .textarea{

       max-width: 100%;
       width: 610px;
    }

    div#comentario {

        text-align: center;
    }

    .legend {

        
    }

    div#comentario .textarea:hover {

        background-color: rgb(220, 191, 247);
    }

    .legend {

        font-weight: bolder;
    }
/* =================================== BOTÕES ENVIAR E LIMPAR -======================*/

    div#botoes {

        box-sizing: border-box;
        
    }

    div#botoes .enviar, .limpar {

        width: 10em;
        border-radius: 3px;
    }

    div#botoes .enviar:hover, .limpar:hover{

    background-color: rgb(220, 191, 247);  
    text-transform: uppercase;   
}