@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {

    margin: 0px;
    padding: 0px;
}

:root {

    --fontegoogle: 'Paytone One', sans-serif;   
}


/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */

body {

    width: 70%;
    height: 80vh;
    margin: auto;
    font-family: sans-serif;
    /* background-image: linear-gradient(to right, rgba(168, 77, 77, 0.408), white); */
    background: url(../street-fighter-v-001.jpg) repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

div#container {

    background-image: linear-gradient(to right, white, rgba(142, 212, 238, 0.461));    
    padding: 10px 10px 30px 10px ;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    font-family: sans-serif;
}


        h1 {

            text-align: center;
            font-weight: bolder;
            padding: 10px 0px 15px 0px;
            font-family: var(--fontegoogle);
            font-size: 2em;
        }

        p {

            text-align: center;
            margin: 0px 50px 10px 50px;
            justify-content: center;
            font-size: 16px;         
        }


/* ================================================ */

        
        div#nome, div#sobrenome, div#estadosbr, div#email {

            padding-bottom: 25px;
        }

        div#nome, div#sobrenome, div#email {

            padding-left: 10%;
        }

        .estado:hover, .text:hover {

            background-color: rgba(220, 191, 247, 0.459);
            cursor: pointer;
            transition-property: background-color, border-radius;
            transition-duration: 2s;
        }

        .est-label {

            font-size: 16px;
            font-weight: bolder;
        }

        .legend {

            font-weight: bolder;
        }

        div#estadosbr .estado:hover {

           /* background-color: rgb(220, 191, 247); */
           background-color: rgba(220, 191, 247, 0.459);
           transition-property: background-color, border-radius;
           transition-duration: 2s;
        }
    
/* ===================================================*/

        div#nome .text {

            width: 80%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;           
        }

        div#sobrenome .text {

            width: 80%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;    
        }

        div#email .text {

            width: 80%;
            padding: 10px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
        }

        div#estadosbr .estado {

            width: 30%;
            padding: 5px;
            box-shadow: 2px 2px 2px rgba(84, 201, 244, 0.726);
            border: 1px solid rgba(84, 201, 244, 0.726);
            border-radius: 5px;
        }

        div#estadosbr {

            text-align: left;
            margin-left: 10.4%;
            margin-bottom: 10px;
        }

        input {

            outline: none;
        }

        .fields {

            border: transparent;
        }

/* ================= CheckBox ================== */

        div#checkbox {

            width: 70%; 
            color: rgb(153, 75, 75);   
            font-weight: bolder;  
            margin-left: 15%;
              
        }

        div#checkbox .jogos, .need, .god {

            display: block;
            margin-bottom: 10px;
            padding-left: 13px;
            
        }

        .jogos-legend {

            color: black;
            padding-bottom: 10px;
            margin-left: 5%;
            
        }

        .field:hover {
            
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.367);
            background-color: rgba(220, 191, 247, 0.459);
            transition-property: background-color, border-radius;
            transition-duration: 2s;
            transition-delay: 0.5s;
            transition-timing-function: cubic-bezier(.15,.89,.85,.26);
        }
/* =================== Efeitos no checkbox ========================== */

        .efeitocheck {

            transition: transform 0.5s;
        }

        .efeitocheck:checked {

            transform: rotateY(360deg);
        }
/* ================= Fim CheckBox ================== */


/* ================= Radio ================== */            
        div#radio .avaliacao {

            width: 83%;
            padding: 10px;
            border: transparent;
            border-radius: 5px;
            background-color: rgb(224, 246, 250);
            display: block;
            margin-bottom: 7px;
            margin-left: 7%;
        }

        div#radio .leg {

            text-align: center;
            font-weight: bolder;
            padding-bottom: 2px;
        }
/* =================== Efeitos Radio ========================== */
        .efeito-radio {

            transition: transform 1s;
        }

        .efeito-radio:checked {

            transform: scale(1.5);
        }

/* ================= Fim Radio ================== */



/* ================= Caixa Comentário =========== */
    div#comentario .textarea{

       max-width: 100%;
       width: 610px;
    }

    div#comentario {

        text-align: center;
    }

    div#comentario .textarea:hover {

        background-color: rgba(220, 191, 247, 0.459);
        transition-property: background-color, border-radius;
        transition-duration: 2s;
        transition-delay: 0.5s;
    }

    .textarea {

        outline: none;
    }
/* ================= Fim Comentário =========== */



  
/* ============== BOTÕES ENVIAR E LIMPAR ==============*/

    div#botoes {

        box-sizing: border-box;
        text-align: center;
        
    }

    div#botoes .enviar, .limpar {

        width: 10em;
        border-radius: 3px;
    }

    div#botoes .enviar:hover, .limpar:hover{

    background-color: rgba(220, 191, 247, 0.459); 
    text-transform: uppercase;
    font-weight: bolder;   
    transition-property: background-color, border-radius;
    transition-duration: 2s;
}