@charset "UTF-8";

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */


body {

    width: 70%;
    height: 80vh;
}

.paragrafo {

   margin-bottom: 30px;
}

        /*  NOME */
    div#nome .text {

        width: 134%;
    }

    /* SOBRENOME */
    div#sobrenome .text {

         width: 150%;
    }

     /*  NOME */
     div#email .text {

        width: 133%;
    }
    
     div#sobrenome {

         margin-right: 60%;
     }
     /* FIM SOBRENOME */


     /* ESTADOS */
       div#select {
            
        margin-right: 58%;
        margin-top: -4%;
        margin-bottom: 30px;

      }

        div#select .estado {

            width: 156%;
        }
        /* FIM ESTADO */


        /* RADIO */
        div#radio .avaliacao {

            width: 94%;  
        }

        /* CHECKBOX */
        div#checkbox {

            width: 90%;
            padding: 5px;
        }

        .need {
            display: block;
        }

        .god {

            display: block;
        }
        /* FIM CHECKBOX */


/* BOTÕES ENVIAR E LIMPAR */
    div#botoes .enviar, .limpar {

        width: 9em;
        border-radius: 3px;
        margin-left: 40px;
    }
    
    