@charset "UTF-8";

body {

    width: 70%;
}


div#nome {

    width: 200px;
    clear: both;
}

div#email {

    width: 200px;
    clear: both;
}

div#sobrenome {

    width: 200px;
    float: right;
    position: absolute;
    top: 173px;
    right: 0;
    left: 369px;
}

div#select {

    width: 218px;
    float: right;
    position: absolute;
    top: 265px;
    right: 0;
    left: 369px;
}