@charset "UTF-8";



body {

    width: 70%;
    height: 80vh;
    background: none;
    background-image: linear-gradient(to left, rgb(220, 191, 247), rgba(142, 212, 238, 0.461));
}

.paragrafo {

   margin-bottom: 30px;
}

        /*  NOME */
    div#nome .text {

        width: 250px;
    }

    /* SOBRENOME */
    div#sobrenome .text {

         width: 250px;
    }

     div#sobrenome {

        margin-right: 30px;
     }
     /* FIM SOBRENOME */


     /*  EMAIL */
     div#email .text {

        width: 250px;
    }

     /* ESTADOS */
       div#select {
            
        margin-right: 31px;
        margin-top: -4%;
        margin-bottom: 30px;

      }

        div#select .estado {

            width: 272px;
        }
        /* FIM ESTADO */


        /* RADIO */
        div#radio .avaliacao {

            width: 289px;  
        }

        /* CHECKBOX */
        div#checkbox {

            width: 90%;
            padding: 5px;
        }

        .need {
            display: block;
        }

        .god {

            display: block;
        }
        /* FIM CHECKBOX */


/* BOTÕES ENVIAR E LIMPAR */
    .limpar {
        position: absolute;
        right: 2px; 
    }

   .limpar {

    margin-right: 20px;

   }
   
   .enviar {

    margin-left: 15px;

   }

