@charset "UTF-8";



body {

    width: 70%;
    height: 80vh;
}

        /*  NOME */
    div#nome .text {

        width: 134%;
    }

    div#nome {

        margin-left: 10px;
    }

/*  EMAIL */
    div#email .text {

    width: 223px;

    }

    div#email {

        position: absolute;
        left: 51px;
        margin-top: 50px;
        margin-left: 3px;
    }


    /* SOBRENOME */
    div#sobrenome .text {

         width: 134%;
    }
     /* FIM SOBRENOME */

    div#checkbox {

        padding-top: 20px;
    }

     /* ESTADOS */
       div#select {        
        margin-top: -5px;
      }
      .est-label {

        margin-left: 3px;
        
      }
        div#select .estado {

            width: 245px;
            margin-right: -85px;
        }
        /* FIM ESTADO */


        /* RADIO */
        div#radio .avaliacao {

            width: 96%;  
        }

       div#comentario {

            text-align: left;
            margin-left: 10px;
        }

